<form class="example-form" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>NAME</mat-label>
      <input matInput placeholder="John Doe" formControlName="name" autocomplete="off" />

      <mat-error *ngIf="formGroup.get('name')?.invalid">
        <span *ngIf="formGroup.get('name')?.errors?.['required']">Campo obrigatório</span>
        <span *ngIf="formGroup.get('name')?.errors?.['pattern']">Deve conter apenas letras e sem espaços extras.</span>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>AGE</mat-label>
      <input matInput placeholder="18" formControlName="age" mask="00" autocomplete="off" />

      <mat-error *ngIf="formGroup.get('age')?.invalid">
        <span *ngIf="formGroup.get('age')?.errors?.['required']">Campo obrigatório</span>
        <span *ngIf="formGroup.get('age')?.errors?.['minlength']">Informe no mínimo 2 dígitos, </span>
        <span *ngIf="formGroup.get('age')?.errors?.['pattern']">O campo só permite números</span>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>CPF</mat-label>
      <input
        matInput
        placeholder="010.001.001-10"
        formControlName="cpf"
        mask="000.000.000-00"
        autocomplete="off"
        [dropSpecialCharacters]="true"
      />

      <mat-error *ngIf="formGroup.get('cpf')?.invalid">
        <span *ngIf="formGroup.get('cpf')?.errors?.['required']">Campo obrigatório</span>
        <span *ngIf="formGroup.get('cpf')?.errors?.['minlength']">Informe a quantidade de dígitos de um CPF</span>
        <span *ngIf="formGroup.get('cpf')?.errors?.['pattern']">O campo só permite números</span>
      </mat-error>
    </mat-form-field>
  </p>

  <button
    type="button"
    mat-flat-button
    color="warn"
    [routerLink]="['../../person']"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    [style.marginTop.rem]="1"
  >
    Voltar
  </button>

  <button
    type="submit"
    [style.marginTop.rem]="1"
    [style.margin-left.rem]="1"
    mat-raised-button
    color="primary"
    [disabled]="!formGroup.valid"
  >
    Salvar
  </button>
</form>
