<app-spinner-component [loading]="loading" />

<ng-container *ngIf="!loading">
  <nav>
    <ul>
      <li><a routerLink="../welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    </ul>
  </nav>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. Mia" #input />
  </mat-form-field>

  <app-table-component
    mat-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [columnHeaders]="columnHeaders"
    [paginationControl]="paginationControl"
    (sortChange)="onSortChange($event)"
    (pageChange)="onPageChange($event)"
  />
</ng-container>
