<app-spinner-component [loading]="loading" [message]="message" />

<ng-container>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Buscar cozinha..." />
  </mat-form-field>

  <app-table-component
    *ngIf="dataSource$ | async as data"
    [dataSource]="data"
    [displayedColumns]="displayedColumns"
    [columnHeaders]="columnHeaders"
    [paginationControl]="paginationControl"
    (pageChange)="paginationChange$.next()"
    (sortChange)="paginationChange$.next()"
  />

  <button
    mat-raised-button
    color="primary"
    routerLink="../welcome"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    [style.marginTop.rem]="1"
  >
    <mat-icon>arrow_back</mat-icon>
    Home
  </button>
</ng-container>
