<main fxLayout="column" fxLayoutAlign="space-evely start" [style.margin-left.rem]="1">
  <app-spinner-component [loading]="loading" [message]="message" />

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Buscar cozinha..." />
  </mat-form-field>

  <app-table-component
    *ngIf="dataSource$ | async as data"
    [dataSource]="data"
    [columnHeaders]="columnHeaders"
    [displayedColumns]="displayedColumns"
    [actions]="actionsTamplate"
    [customTemplates]="{
      ativo: ativoTpl,
      taxaFrete: taxaFreteTpl,
      dataCadastro: dataCadastroTpl,
      dataAtualizacao: dataAtualizacaoTpl
    }"
    [paginationControl]="paginationControl"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
  />

  <ng-template #dataCadastroTpl let-row>
    {{ formatDate(row.dataCadastro) | date : 'dd/MM/yyyy' }}
  </ng-template>

  <ng-template #dataAtualizacaoTpl let-row>
    {{ formatDate(row.dataAtualizacao) | date : 'dd/MM/yyyy' }}
  </ng-template>

  <ng-template #taxaFreteTpl let-row>
    {{ row.taxaFrete | currency : 'BRL' : 'symbol' : '1.2-2' : 'pt-BR' }}
  </ng-template>

  <ng-template #ativoTpl let-row>
    <span
      [ngStyle]="{
        'background-color': row.ativo ? '#4caf50' : '#f44336',
        color: 'white',
        padding: '4px 12px',
        'border-radius': '12px',
        display: 'inline-block'
      }"
    >
      {{ row.ativo ? 'Ativo' : 'Desativado' }}
    </span>
  </ng-template>

  <ng-template #actionsTamplate let-row>
    <button
      mat-button
      type="button"
      mat-flat-button
      color="primary"
      title="informações detalhadas"
      [routerLink]="['/person-pendencies', row.pendeciesID]"
    >
      Detalhes
    </button>
  </ng-template>

  <mat-card-actions>
    <button
      type="button"
      title="back home"
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-flat-button
      color="warn"
      [style.margin-top.rem]="1"
    >
      <mat-icon>download</mat-icon>
      baixar
    </button>
    <button
      type="button"
      title="go to person-create"
      routerLink="person-create"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-flat-button
      color="primary"
      [style.margin-left.rem]="1"
      [style.margin-top.rem]="1"
    >
      create
      <mat-icon iconPositionEnd>create</mat-icon>
    </button>

    <button
      mat-raised-button
      color="accent"
      routerLink="../welcome"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      [style.margin-left.rem]="1"
      [style.margin-top.rem]="1"
    >
      <mat-icon>arrow_back</mat-icon>
      Home
    </button>

    <button
      mat-raised-button
      color="basic"
      routerLink="../welcome"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      [style.margin-left.rem]="1"
      [style.margin-top.rem]="1"
    >
      <mat-icon>favorite</mat-icon>
      basico
    </button>
  </mat-card-actions>
</main>
