<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" (matSortChange)="sortChange.emit($event)" matSort aria-describedby="lista">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ columnHeaders[column] || column }}
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row[column] }}
      </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">Nenhum dado disponível.</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageIndex]="paginationControl.page"
    [pageSize]="paginationControl.size"
    [length]="paginationControl.totalElements"
    [pageSizeOptions]="paginationControl.itemsPerPageOptions ?? []"
    (page)="pageChange.emit($event)"
    aria-label="Selecionar página"
  >
  </mat-paginator>
</div>
